/* .container-fluid {
    /* float: right; */
    /* display: inline-block; */
    /* justify-content: center; */
    /* text-align: center; */
    /* display: inline; */
    /* background-color: blue; */
/* } */

#nav {
    /* text-align: center; */
    /* display: inline; */
    /* color: blue; */
    font-size: xx-large;
    margin: 0 ;
}

#shade {
    background-color: rgb(240, 240, 240);
}

#outlined {
    border: 2px solid black;
}

form.searchCity button {
    width: 15%;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

#myForecast {
    background-color: rgb(24, 159, 238);
    /* border: 30px; */
    /* column-rule-width: 10px;     */
    max-width: 130px;
    border-radius: 5px;
    /* width: 50%; */
    /* table-layout: fixed; */
    color: white;
    margin-left: 15px;
    /* overflow: hidden; */
    /* margin: 0px; */
    /* width: 30px; */
    /* padding: 30px; */
    /* column-gap: 40px; */
}
